@model IEnumerable<firstMvcProject.Models.DBModel.Kategoriler>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Kategori", "Create")
  
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tanimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tanimi)
        </td>
        <td>
            @if (item.Resim!=null)
            {
                <img src="data:image/jpg;base64,@System.Convert.ToBase64String(item.Resim)" />
            }
            else
            {
                <text> yok</text>
            }

        </td>
        <td>
            @Html.ActionLink("Değiştir", "Edit", new { id=item.KategoriID }) |
            @Html.ActionLink("Detay", "Details", new { id=item.KategoriID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.KategoriID })
        </td>
    </tr>
}

</table>
